.fontconfig
.gem
.gnupg
.recentf
.serverauth.63099
.ssh
.vagrant.d
.vim
.viminfo
.zcompdump
.zsh-update
.zsh_history
.DS_Store
.Trash
.Xauthority
Downloads
Desktop
Library
Music
Pictures
Public
Sites
dev
repos
tmp
