**/.DS_Store
.*~
.Trash
.Xauthority
.aws/config
.aws/credentials
.config
.irssi/nicklistfifo
.irssi/sasl.auth
.private
.ssh/authorized_keys
.ssh/id*
.ssh/known_hosts
.subversion/auth
.viminfo
.zsh_history
Applications/
Desktop
Documents
Downloads
Library
Movies
Music
OneDrive
Pictures
Public
dev
