**/.DS_Store
.*~
.Trash
.Xauthority
.aws/config
.aws/credentials
.config
.emacs.d/elpa/*
.emacs.d/ac-comphist.dat
.irssi/nicklistfifo
.irssi/sasl.auth
.private
.ssh/authorized_keys
.ssh/id*
.ssh/known_hosts
.subversion/auth
.viminfo
.zsh/local
.zsh_history
Applications/
Desktop
Documents
Downloads
Library
Movies
Music
OneDrive
Pictures
Public
dev
tmp
.account
.cache
.emacs.d/backups
.emacs.d/vendor
.gem
.gnupg
.oracle_jre_usage
.repos
.rnd
.vagrant.d
.vim
.wireshark-etc
