[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:pgollucci/oh-my-zsh.git
[submodule ".rbenv"]
	path = .rbenv
	url = git@github.com:pgollucci/rbenv.git
[submodule ".dotfiles"]
	path = .dotfiles
	url = git@github.com:pgollucci/dotfiles.git
